<launch>
  <param name="use_sim_time" value="false" />

  <arg name="map_name" default="my_lab.yaml" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_slam)/maps/$(arg map_name)"/>

  <include file="$(find robot_slam)/launch/include/move_base.launch.xml" />

  <node pkg="jie_ware" type = "lidar_loc" name="lidar_loc">
	<param name="base_frame" value="link_left_w"/>
	<param name="laser_frame" value="laser_link"/>
  </node>
</launch>
